//
// The basics, imported from Largo
//
@import "variables.less";
@import "mixins.less";

//
// Observer custom variables
//
@import "_variables.less";

/*
 * Layout and page styles
 */
@import "widgets.less";
@import "single.less";
@import "home.less";


body {
  font-family: 'freight-text-pro', Georgia, serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'minion-pro', Georgia, serif;
  font-weight: 600;
}
a {
  color: #0065a4;
  &:hover {
    color: #729eca;
  }
}
.home #content a,
.archive .primary-featured-post a,
.archive .secondary-featured-post a,
.archive .stories a,
.widget.saved-links h5 a {
  color: #333;
  &:hover {
    text-decoration: underline;
  }
}
h5.top-tag,
h5.top-date,
.widgettitle,
.byline,
.sticky-footer-container h4,
.global-nav,
.navbar,
#topics-bar ul,
#supplementary ul.menu,
#supplementary p,
#site-footer .widget_text h5,
#boilerplate,
p.wp-caption-text,
p.wp-media-credit {
  font-family: 'ff-dagny-web-pro', Helvetica, Arial, sans-serif;
  letter-spacing: 0.035em;
}

.navbar li.home-icon>a img {
  height: 28px;
}

h5.top-tag,
h5.top-date {
  font-weight: 400;
}
h5.top-date {
  font-style: italic;
  color: #777;
}

.entry-content p,
.entry-content ul,
.entry-content ol {
  font-size: 21px;
  letter-spacing: 0.035em;
}
.entry-content p.intro {
  font-size: 28px;
}
.entry-content p.small {
  font-size: 18px;
}
.entry-content p.smaller {
  font-size: 15px;
}
h1.entry-title,
h1.page-title {
  font-size: 60px;
  font-weight: 500;
}
.single-post h2.subtitle {
  font-size: 21px;
  font-weight: normal;
  color: #999;
}
p.intro,
p.wp-caption-text {
  font-style: normal;
}
.entry-content p.wp-media-credit {
  font-size: 13px;
}

/* Article bottom widgets */
.article-bottom .widget p {
  font-size: 17px;
}

/* Related posts */
.article-bottom .largo-related-posts {
  h4 {
    font-size: 32px;
    line-height: 36px;
  }
}
span.author-posts-link {
  font-family: 'ff-dagny-web-pro', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  float: right;
  clear: both;
}

.primary-featured-post .span8 h2.entry-title {
  line-height: 1.1;
}
.primary-featured-post .entry-content p,
.primary-featured-post .entry-content ul,
.primary-featured-post .entry-content ol {
  font-size: 19px;
}

@media only screen and (max-width: 767px) {
  h1.entry-title {
    font-size: 38px;
  }
}

@media only screen and (max-width: 420px) {
  .entry-content p,
  .entry-content ol,
  .entry-content ul {
    font-size: 18px;
  }
  h1.entry-title {
    font-size: 28px;
  }	
}
